<div class="container mt-5">
  <form action="" [formGroup]="formularioCliente">

    <div class="row">
      <div class="col-sm-10">
        <div class="form-group">
          <label for="">Nombre</label>
          <input type="text" class="form-control" formControlName="nombre" placeholder="Agregue el nombre">
          <div *ngIf="formularioCliente.controls['nombre'].invalid && formularioCliente.controls['nombre'].dirty" class="alert alert-danger" role="alert">
            <span *ngIf="formularioCliente.controls['nombre'].errors.required">Nombre es requerido</span>
          </div>
        </div>
      </div>

      <div class="col-sm-10">
        <div class="form-group">
          <label for="">Apellido</label>
          <input type="text" class="form-control" formControlName="apellido" placeholder="Agregue el apellido">
          <div *ngIf="formularioCliente.controls['apellido'].invalid && formularioCliente.controls['apellido'].dirty" class="alert alert-danger" role="alert">
            <span *ngIf="formularioCliente.controls['apellido'].errors.required">Apellido es requerido</span>
          </div>
        </div>
      </div>

      <div class="col-sm-10">
        <div class="form-group">
          <label for="">Edad</label>
          <input type="number" class="form-control" formControlName="edad" placeholder="Agregue la edad">
          <div *ngIf="formularioCliente.controls['edad'].invalid && formularioCliente.controls['edad'].dirty" class="alert alert-danger" role="alert">
            <span *ngIf="formularioCliente.controls['edad'].errors.required">Edad es requerida</span>
          </div>
        </div>
      </div>

      <div class="col-sm-10">
        <div class="form-group">
          <label for="">Fecha de nacimiento</label>
          <input type="date" class="form-control" formControlName="fechaNacimiento" placeholder="Agregue su fecha de nacimiento">
          <div *ngIf="formularioCliente.controls['fechaNacimiento'].invalid && formularioCliente.controls['fechaNacimiento'].dirty" class="alert alert-danger" role="alert">
            <span *ngIf="formularioCliente.controls['fechaNacimiento'].errors.required">Fecha de nacimiento es requerida</span>
          </div>
        </div>
      </div>

      <br><br>
      <div class="col-sm-4">
      <button class="btn btn-primary"  [disabled]="!formularioCliente.valid" (click)="agregar()">Agregar</button>
      </div>

    </div>
  </form>
</div>
